@model HotelManagementSystem.Models.ReservationDetailViewModel

@{
    ViewBag.Title = "Book";
}

<p>The booking process takes about 10 minutes. If booking is not finished within 10 minutes, all changes will be lost.</p>
<h2>Booking Information</h2>

<div>Date: @Model.checkIn.ToString("MM/dd/yyyy (ddd)") - @Model.checkOut.ToString("MM/dd/yyyy (ddd)") (@Model.nights.Count Nights)</div>
<div>Room Type: @Model.roomType</div>
<hr />
<h4>Price Information</h4>
<table>
    <tr>
        <th>Date</th>
        <th>Price</th>
    </tr>
    @for (var i = 0; i < Model.nights.Count; i++)
    {
        <tr>
            <td>@Model.nights[i].ToString("MM/dd/yyyy (ddd)")</td>
            <td>$@Model.listPrice[i]</td>
        </tr>
    }
    <tr>
        <td>Average</td>
        <td>$@Model.listPrice.Average().ToString("0.##")</td>
    </tr>
    <tr>
        <td><strong>Total</strong></td>
        <td><strong>$@Model.listPrice.Sum().ToString("0.##")</strong></td>
    </tr>
</table>
<hr />

<h4>Enter Guest Information</h4>
@using (Html.BeginForm("Reserve", "Home"))
{
    for (int j = 0; j < Model.nights.Count; j++)
    {
        @Html.HiddenFor(model => model.listPrice[j], new { Value = Model.listPrice[j] })
    }
    <table>
        @for (int i = 0; i < Model.roomGuest; i++)
        {
        <tr>
            <td><label>Guest @(i+1): </label></td>
            <td>
                @Html.EditorFor(model => model.guestInfoList[i], new { htmlAttributes = new { @pattern = "[A-Za-z ]+", title = "Name should only contain letters", maxlength = "number" } })
            </td>
        </tr>
        }
    </table>
    <hr/>
    <h4>Enter Billing Information</h4>
    <fieldset>
        @Html.HiddenFor(model => model.checkIn, new { Value = Model.checkIn })
        @Html.HiddenFor(model => model.checkOut, new { Value = Model.checkOut })
        @Html.HiddenFor(model => model.roomId, new { Value = Model.roomId })
        @Html.HiddenFor(model => model.bill, new { Value = Model.listPrice.Sum() })
        @Html.HiddenFor(model => model.personId, new { Value = 1 })
        <table>
                    <tr>
                        <td>
                            <div>
                                @Html.LabelFor(model => model.firstName)
                            </div>
                        </td>
                    
                        <td>
                            <div>
                                @Html.EditorFor(model => model.firstName, new { htmlAttributes = new { } }) 
                                @Html.ValidationMessageFor(model => model.firstName, "", new { @class = "text-danger" })
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>
                                @Html.LabelFor(model => model.lastName)
                            </div>
                        </td>
                        <td>
                            <div>
                                @Html.EditorFor(model => model.lastName, new { htmlAttributes = new { } })
                                @Html.ValidationMessageFor(model => model.lastName, "", new { @class = "text-danger" })
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>
                                @Html.LabelFor(model => model.email)
                            </div>
                        </td>
                        <td>
                            <div>
                                @Html.EditorFor(model => model.email, new { htmlAttributes = new { } })
                                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>
                                @Html.LabelFor(model => model.phone)
                            </div>
                        </td>
                        <td>
                            <div>
                                @Html.EditorFor(model => model.phone, new { htmlAttributes = new { } })
                                @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>
                                @Html.LabelFor(model => model.address)
                            </div>
                        </td>
                        <td>
                            <div>
                                @Html.EditorFor(model => model.address, new { htmlAttributes = new { } })
                                @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>
                                @Html.LabelFor(model => model.city)
                            </div>
                        </td>
                        <td>
                            <div>
                                @Html.EditorFor(model => model.city, new { htmlAttributes = new { } })
                                @Html.ValidationMessageFor(model => model.city, "", new { @class = "text-danger" })
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>
                                @Html.LabelFor(model => model.state)
                            </div>
                        </td>
                        <td>
                            <div>
                                @Html.EditorFor(model => model.state, new { htmlAttributes = new { } })
                                @Html.ValidationMessageFor(model => model.state, "", new { @class = "text-danger" })
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>
                                @Html.LabelFor(model => model.zip)
                            </div>
                        </td>
                        <td>
                            <div>
                                @Html.EditorFor(model => model.zip, new { htmlAttributes = new { } })
                                @Html.ValidationMessageFor(model => model.zip, "", new { @class = "text-danger" })
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><input type="submit" value="Confirm" class="btn" /></td>
                    </tr>
        </table>
    </fieldset>
    
}
