@model HotelManagementSystem.Models.ReservationViewModel

@{
    ViewBag.Title = "Book";
}

<h4>Booking Information</h4>
<div>Date: @ViewBag.From - @ViewBag.To (@ViewBag.Nights Nights)</div>
<div>Room Type: @ViewBag.RoomType</div>
<div>Number of rooms: @ViewBag.Rooms</div>
<hr />
<h4>Enter Your Details</h4>

@using (Html.BeginForm("Reserve", "Home"))
{
    @Html.AntiForgeryToken();
    @Html.EditorFor(model => model.checkIn, new { htmlAttributes = new { @readonly= "readonly", @Value = ViewBag.From, @Type = "hidden" } })   
    @Html.EditorFor(model => model.checkOut, new { htmlAttributes = new { @readonly = "readonly", @Value = ViewBag.To, @Type = "hidden" } })
    @Html.EditorFor(model => model.RoomId, new { htmlAttributes = new { @readonly = "readonly", @Value = ViewBag.RoomId, @Type = "hidden" } })
    <div>
        <input type="submit" value="Confirm" class="btn" />
    </div>
}
