@model DataModel.Customer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<div class="right">
    <h4>Account details</h4>
    <hr />
        <div>
        <dl class="account">
            <dt>
                First Name:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.firstName)
            </dd>

            <dt>
                Last Name:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.lastName)
            </dd>

            <dt>
                Email:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.email)
            </dd>

            <dt>
                Address:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.address)
            </dd>

            <dt>
                Phone:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.phone)
            </dd>

            <dt>
                City:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.city)
            </dd>

            <dt>
                State:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.state)
            </dd>

            <dt>
                Zip:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.zip)
            </dd>
            <dt>
                Room Preference:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RoomPref.type)
            </dd>
            <dt>
                Loyalty Status:
            </dt>

            <dd>
                <p>Membership Id #@Model.loyaltyNum</p>
                <p>Membership since @ViewBag.start</p>
                <p>Membership expires @ViewBag.message</p>
            </dd>

        </dl>
            </div>
    </div>
