@model DataModel.Customer

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

    <div class="right">
        <h4>Welcome back, @Model.firstName</h4>
        <hr />
        <div>
            <dl class="account">
                <dt>
                    First Name:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.firstName)
                </dd>

                <dt>
                    Last Name:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.lastName)
                </dd>

                <dt>
                    Email:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.email)
                </dd>
                <dt>
                    Room Preference:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.RoomPref.type)
                </dd>
            </dl>
        </div>
    </div>
