

@{
    ViewBag.Title = "_CustomerLayout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    @RenderSection("scripts", false)
}

<link href="@Url.Content("~/Content/Customer.css")" rel="stylesheet" />


    <div class="left">
        <div class="cdropdown">
            <button class="dropbtn" onclick="location.href='@Url.Action("Index", "Customers")' ">Home</button>
        </div>
        <div class="cdropdown">
            <button class="dropbtn">Reservation</button>
            <div class="dropdown-content">
                <a href="@Url.Action("ReservationDetails", "Customers")">View Reservation</a>
                <a href="@Url.Action("Index", "Home")">Make Reservation</a>
            </div>
        </div>
        <div class="cdropdown">
            <button class="dropbtn">Profile</button>
            <div class="dropdown-content">
                <a href="@Url.Action("Details", "Customers")">View profile</a>
                <a href="@Url.Action("Edit", "Customers")">Change profile</a>
            </div>
        </div>
    </div>

@RenderBody()
