<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LXYZ Hotel - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/cssjqryUi")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("customer", false)
    <!-- jQuery UI CSS Reference -->
    <link href="@Url.Content("~/Content/themes/base/jquery-ui.min.css")" rel="stylesheet" />
    <!-- Required jQuery and jQuery UI Javascript references -->
    <script src="@Url.Content("~/Scripts/jquery-3.1.1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.12.1.min.js")"></script>
    <link id="original" rel="stylesheet" type="text/css" href="/Content/Hotel.css">
    <script type='text/javascript'>
        var appInsights=window.appInsights||function(config)
        {
            function r(config){ t[config] = function(){ var i = arguments; t.queue.push(function(){ t[config].apply(t, i)})} }
            var t = { config:config},u=document,e=window,o='script',s=u.createElement(o),i,f;for(s.src=config.url||'//az416426.vo.msecnd.net/scripts/a/ai.0.js',u.getElementsByTagName(o)[0].parentNode.appendChild(s),t.cookie=u.cookie,t.queue=[],i=['Event','Exception','Metric','PageView','Trace','Ajax'];i.length;)r('track'+i.pop());return r('setAuthenticatedUserContext'),r('clearAuthenticatedUserContext'),config.disableExceptionTracking||(i='onerror',r('_'+i),f=e[i],e[i]=function(config, r, u, e, o) { var s = f && f(config, r, u, e, o); return s !== !0 && t['_' + i](config, r, u, e, o),s}),t
        }({
            instrumentationKey:'f6ddb760-d6b9-4168-a3df-65744694fbf8'
        });
        window.appInsights=appInsights;
        appInsights.trackPageView();

        function print() {
            document.getElementById("original").href = "/Content/Printfriendly.css";
            window.print();
        }
        function unprint() {
            document.getElementById("original").href = "/Content/Hotel.css";
        }

    </script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzjAGuNzvO9IPpmC1X2jK7-Hyxfbcec7U&sensor=false"></script>  
    <script type="text/javascript">

   $(document).ready(function () {
     initialize();
   });
   function initialize() {
       var mapOptions = {
           center: new google.maps.LatLng(40.728668, -73.995659),
           zoom: 15,
           mapTypeId: google.maps.MapTypeId.ROADMAP
       };
       var map = new google.maps.Map(document.getElementById("map_canvas"),
       mapOptions);
       var latlng = new google.maps.LatLng(40.728668, -73.995659);
       var marker = new google.maps.Marker({
           position: latlng,
           map: map,
           title: 'LXYZ Hotel'
       });
   }
    </script>  
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("LXYZ Hotel", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                
            </div><br />
            <font color="#FFFFFF">
                251 Mercer Street, New York, N.Y. 10012-1185
            </font>
                <div class="navbar-collapse collapse" style="margin-right:20px;">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Rooms", "Room", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Location", "Location", "Home")</li>
                        <li>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</li>
                    </ul>
                    @using (Html.BeginForm("Check", "Home"))
                    {
                        <font color="#FFFFFF">Check Reservation:&nbsp;</font>
                        <input type="text" class="resizedTextbox" name="reservationId" placeholder="Reservation#" oninvalid="this.setCustomValidity('Enter Reservation Number (Should only contain digits)')" oninput="setCustomValidity('')"  pattern="[0-9]+" required />
                        <input type="email" class="resizedTextbox" name="email" placeholder="Billing Email" pattern="[a-zA-Z0-9._%+-]+&#64;[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$" required />
                        <input class="btn" type="submit" value="Find" />
                    }
                    @Html.Partial("_LoginPartial")
                </div>
</div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - LXYZ Hotel</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")

    @RenderSection("scripts", required: false)
</body>
</html>
