@model DataModel.Reservation

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}


<div class="right">
    <div>
        <h4>Are you sure you want to cancel reservation #@Model.Id?</h4>
        <hr />
        <dl class="account">
            <dt>
                Check In:
            </dt>

            <dd>
                @Model.checkIn.ToShortDateString()
            </dd>

            <dt>
                Check Out:
            </dt>

            <dd>
                @Model.checkOut.ToShortDateString()
            </dd>

            <dt>
                Bill:
            </dt>

            <dd>
                $@Html.DisplayFor(model => model.bill)
            </dd>

            <dt>
                Room:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RoomType.type)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</div>