
@model DataModel.Reservation

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<div class="right">
    <h2>
        Reservation Confirmation #@Model.Id
    </h2>
    <table class="reservation-table">
        <tr>
            <th>
                <h4>Hotel Information</h4>
            </th>
            <th>
                <h4>Stay Information</h4>
            </th>
        </tr>
        <tr>
            <td>
                <div>LXYZ Hotel</div>
                <div>251 Mercer Street</div>
                <div>New York, N.Y. 10012-1185</div>
                <div>Phone: (212) 998-3037</div>
                <div>Email: support@LXYZ.com</div>
            </td>
            <td>
                <div>Arrival: @Model.checkIn.ToString("dddd, dd MMMM yyyy")</div>
                <div>Departure: @Model.checkOut.ToString("dddd, dd MMMM yyyy")</div>
                <div>1 @ViewBag.roomtype for @ViewBag.night</div>
                <div>Total for stay: $@Model.bill</div>
            </td>
        </tr>
        <tr>
            <th>
                <h4>Billing Information</h4>
            </th>
            <th>
                <h4>Guest Information</h4>

            </th>
        </tr>
        <tr>
            <td>
                <div>Name: @Model.firstName @Model.lastName</div>
                <div>Email: @Model.email</div>
                <div>Phone: @Model.phone</div>
                <div>Address: @Model.address</div>
                <div>City: @Model.city</div>
                <div>State: @Model.state</div>
                <div>Zip: @Model.zip</div>
                <div></div>
            </td>
            <td>
                @for (int i = 0; i < ViewBag.guests.Count; i++)
            {
                    <div>Guest @(i + 1) : @ViewBag.guests[i].ToString()</div>
                }
            </td>
        </tr>
    </table>
    <p class="buttonwrap"><button class="btn" id="printbtn" title="Click to show Printer Friendly View" href="#" onclick="print(); return false;">Show Printer Friendly View</button></p>
    <a id="unprintbtn" title="Click to show Original View" href="#" onclick="unprint(); return false;">Show Original View</a>
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
    </div>

 