@model DataModel.Reservation

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<div class="right">
    <h4>Reservation</h4>
    <hr />
    <dl class="account">
        <dt>
            Check In:
        </dt>

        <dd>
            @Model.checkIn.ToShortDateString()
        </dd>

        <dt>
            Check Out:
        </dt>

        <dd>
            @Model.checkOut.ToShortDateString()
        </dd>

        <dt>
            Bill:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bill)
        </dd>

        <dt>
            Guests
        </dt>

        <dd>
            @foreach (var guest in (List<string>)ViewBag.guests)
            {
                <p>@guest</p>
            }
        </dd>

    </dl>
    <p>
        @Html.ActionLink("Back to List", "Index", new { id = Model.Id })
    </p>

</div>
