@model IEnumerable<DataModel.Reservation>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

@if (ViewBag.message == null)
{
    <div class="right">
        <h4>Upcoming Reservations</h4>
        <hr/>
        <table class="table">
            <tr>
                <th>
                    Check In
                </th>
                <th>
                    Check Out
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.checkIn.ToShortDateString()
                    </td>
                    <td>
                        @item.checkOut.ToShortDateString()
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Cancel", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
    </div>
}

else
{
    <div class="right">
        <h4>Upcoming Reservations</h4>
        <hr />
        <p>@ViewBag.message</p>
        <div class="no-content">

        </div>
    </div>
}
